@charset"UTF-8";
/*em html é id = em css é # (só pode um elemento)
em html é class = em css é . (pode vários elementos)*/
body{
    background-color: rgb(181, 233, 216);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(8, 32, 24);
}
h1#principal{
text-align: center;
}
h2{
color:rgb(5, 61, 45)
}
.basico{
color: rgb(60, 190, 82);
}

.intermediário{
color: rgb(185, 196, 34);
}
.avançado{
color: rgb(235, 106, 106);
}